body, html {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #eee;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Europa-Bold', sans-serif;
}

a {
    color: #eee;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;

}

.header {
    padding-top: 6rem;
    padding-bottom: 6rem;


    &__text-left {
        display: inline-block;
        align-content: right;
    }

    &__text-right {
        display: inline;
        position: absolute;
        right: 0;
    }

    &--sticky-is-active {
        position: fixed;
        top:0;
        width: 80%;
        z-index: 1;
        background-color: #222;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }
}


.feed {
    position: absolute;
    width: 100%;
    height:60vh;


    &--sticky-is-active {
        padding-top: 14rem;
    }
}

.item {
    padding-bottom: 6rem;

    &__header {
        display: inline-block;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: #eee;
    }

    &__text {
        font-size: 0.8rem;
        padding-bottom: 1rem;
        width: 30rem;
    }


}

img {
    filter: grayscale(100%);
    padding-bottom: 0.7rem;

    &:hover {
        filter: grayscale(75%);
    }
}

.modal {
    display: none;
    position: fixed;
    background-color: #222;
    width: 100%;
    height: 100%;
    z-index: 2;
    background:rgba(26,10,0,0.5);

    &__pop-up {

        position: fixed;
        margin: auto;
        color: #222;
        background-color: #eee;
        position: relative;
        top:50%;
        transform: translateY(-50%);
        width: 60%;
        height: 75%;
        z-index: 199;


    }

    &__pop-up-text {

        padding: 1rem 3rem 3rem 3rem;
        position: relative;
        top:50%;
        transform: translateY(-50%);
    }

    &__pop-up-x {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
    }

    a {
        text-decoration: underline;
        color: #222;
    }

    &--is-active{
        display: block;
    }

}

#about {
    &:hover {
        border-bottom: 1px solid #eee;
        cursor: pointer;
        }
}